.App1 {
  text-align: center;
}

.App {
  background-color: #b3c8f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  color: #172e5c;
}

.footer {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 0 20px;
  margin: 20px;
}

.ageRange {
  margin: 20px;
}
